<!-- Ver sucursales Modal -->

<br>
<div class="container ">
  <div class="container text-center text-Whyte bg-white py-4">
      <div class="container">
        <h1 >
          PRODUCTOS A VENDER</h1>



          <br>
          <br>


<div class="container">

  <div class="input-group">
    <input type="search" class="form-control rounded bg-white text-darck" placeholder="buscar" aria-label="buscar" aria-describedby="search-addon" (input)="getProductosNombre($event.target.value)" />
    <select class="select" name="tipo" #tipo="ngModel" [(ngModel)]="tipoBusqueda">
      <option *ngFor="let tipo of tipos" value="{{ tipo.nombre }}">{{ tipo.nombre }}</option>
    </select>
  </div>

<br>

  <div class="col-lg-3 col-md-4 d-flex">
    <button class="btn btn-primary w-100 align-self-center" routerLink="/rolempresa/sucursales"> ← Regresar a Sucursales</button>

  </div>

  <div class="row">
    <div class="col-12 col-md-4 mt-4" *ngFor="let productosSucursal of productosModelGet">
      <div class="card text-center">

        <div class="card text-white bg-secondary mb-3">

          <div class="card-body">
            <div class="card-title"><h4>{{ productosSucursal.NombreProductoSucursal }}</h4>

              <img src="../../../assets/img/carrito.png" class="card-img-top" alt="carrito-logo">

            <h5 class="card-title"></h5>
            <p>ID: {{ productosSucursal._id }}</p>
            <p>Stock: {{ productosSucursal.StockSucursal }}</p>
            <p>Cantidad vendida: {{ productosSucursal.CantidadVendida }}</p>
            <p></p>
            </div>

          </div>

          <div class="card-footer text-muted">
            <button type="button" class="btn btn-success" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
            (click)="getProductosSucursalesId(productosSucursal._id)">Vender producto</button>

            <button type="button" class="btn btn btn-danger  mx-2"  (click)="eliminarProductosSucursales(productosSucursal._id)"> Eliminar</button>

          </div>


      </div>
    </div>
  </div>
</div>


<!-- OffCanvas Venta-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Realizar una Venta</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>

      <div class="mb-3">
        <label for="inputNombreProductoSucursal" class="form-label">Nombre del Producto</label>
        <input type="text" class="form-control" id="inputNombreProductoSucursal" name="NombreProductoSucursal" #NombreProductoSucursal="ngModel"
          [(ngModel)]="productosSucursalesModelGetId.NombreProductoSucursal"
          >
      </div>
      <div class="mb-3">
        <label for="inputCan" class="form-label">Cantidad a Vender</label>
        <input type="number" class="form-control" id="inputCan" name="StockSucursal" #StockSucursal="ngModel"
        [(ngModel)]="productosSucursalesModelGetId.StockSucursal">
      </div>


      <button type="submit" class="btn btn-success"  data-bs-dismiss="offcanvas" (click)="putVenta()">Vender producto</button>
    </form>
  </div>
</div>














