

        <main>
            <div class="container pn-4 pt-4 pb-4">
                <div class="container text-center text-black bg-white py-4">
                    <div class="container">
                        <h2 >BIENVENIDO</h2><hr>
                        <h3> Bienvenido a Control de Sucursales</h3>
                        <div class="container py-4">
                            <img src="assets/img/controlsucursales.png" class="d-block w-100"  >
                        </div>
                        <h3> y recuerda siempre "El trabajo bien hecho".</h3>
                    </div>
                </div>
            </div>
        </main>

