
<br>

<div class="container text-center text-Whyte bg-white py-4">
  <div class="container">
              <h1 >
                GRAFICA DE ESTA EMPRESA </h1>

                  <br>

<div class="col-lg-3 col-md-4 d-flex">
  <button class="btn btn-success w-100 align-self-center" routerLink="/rolempresa/sucursales">  ← Regresar a las sucursales</button>

</div>

<div
  style="display: block;">
  <canvas
  baseChart chartType="pie"
  [data]="chartData"
  [colors]="chartColors"
  [labels]="chartLabels"
  [options]="chartOptions"
  [plugins]="chartPlugins"
  [legend]="chartLegend">
  </canvas>
</div>




